@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bungee+Hairline&family=Cairo:wght@200;300;400;500;600;700;800;900&family=Geostar&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wallpoet&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
ul{
    margin: 0!important;
    padding: 0!important;
    list-style: none!important;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    gap: 40px
}
li{
    position: relative;
    margin-left: 20px;
    font-weight: bold;
}
li::after{
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #848484;
    left: -20px;
    top: 50%;
    transform: translateY(-50%)
}
.container-cv{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cv{
    width:100%;
    height: 900px;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 20px 10px #d8d8d8;
    padding: 20px 20px;
    z-index: -1;
    font-family: 'Almarai', sans-serif!important;
}
.cv::after{
    content:"";
    position: absolute;
    width: 350px;
    height: calc(100% - 40px);
    left: 0;
    top: 20px;
    background: #61646b;
    z-index: -1;
}
.cv::before{
    content:"";
    position: absolute;
    width: 18px;
    height: 20px;
    right: 20px;
    top: 0;
    background: #181818;
}
.cv .head{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cv .head .img{
    width: 350px;
    height: 350px;
    background: #d6d6d6;
    border: 10px #fff solid;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 50%;
    position: relative;
}
.cv .head .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}
.cv .head .title{
    width: 50%;
    margin-top: 10px;
}
.cv .head .title .name{
    width: fit-content;
}
.cv .head .title .name h1{
    text-transform: uppercase;
    font-family: 'Almarai', sans-serif!important;
}
.cv .head .title .name h1,
.cv .head .title .name h4{
    position: relative;
}
.cv .head .title .name h4{
    text-align: center;
}
.cv .head .title .name h4::before{
    content: "";
    position: absolute;
    width: 240px;
    height: 30px;
    background: #8a8a8a34;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: -1;
}

.cv .head .title .about-me{
    position: relative;
    text-align: left;
    margin-top: 50px;
    height: 250px;
}
.cv .head .title .about-me h5{
    width: 250px;
}
.cv .head .title .about-me::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    bottom: -20px;
    left: -80px;
    background: #8a8a8a34;
}
.cv h5{
    color: #4d4d4d;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.cv .head .title .about-me p{
    color: #777;
    font-size: 15px;
    line-height: 1.7;
}
/*intro*/
.intro{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
/*contact*/
.contact{
    width: 30%;
    margin-top: 50px;
    padding: 10px 10px 10px 15px;
    border: 2px solid #fff;
    position: relative;
}
.contact::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 155px;
    right: -2px;
    top: -92%;
    background: #fff;
}
.contact p{
    color: #eae9e9;
    font-size: 14px;
}
.contact span{
    margin-right: 15px;
    color: #eae9e9;
    font-size: 14px;
}
/*skills*/
.skills{
    width: 50%;
    position: relative;
}
.col-style{
    position: absolute;
    left: -50px;
    height: 100%;
    width: 2px;
    background: #848484;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.col-style span{
    width: 10px;
    height: 10px;
    border: 1px solid #848484;
    background: #fff;
    display: block;
    border-radius: 50%;
}